<main>
  <div class="players">
    <h2 class="player1"><%= @player1 %></h2> VS <h2 class="player2"><%= @player2 %></h2>
  </div>

  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <% 19.times do %>
        <td></td>
      <% end %>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <% 19.times do %>
        <td></td>
      <% end %>
    </tr>
  </table>

  <div class="screen">
    <div class="victory">
      <h2 class="winner"></h2>
      <p>Use This link to view the results anytime: </p>
      <p>localhost:9393/result/<%= @game %></p>
      <form action="/registration" method="post">
        <input type="hidden" name="player1" value="<%= @player1 %>">
        <input type="hidden" name="player2" value="<%= @player2 %>">
        <input type="submit" value="rematch">
      </form>
      <a href="/"><button>Return to Menu</button></a>
    </div>
  </div>
</main>